.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Inter";
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__form>h1 {
    /* align-content: center; */
    font-style: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.login__form>input {
    min-width: 380px;
    padding: 10px 0px;
    padding-left: 5px;
    margin-bottom: 5px;
    outline: black;
    border: 1px solid rgba (0, 0, 0, 0.24);
    font-family: "Inter";
    border-radius: 1px;
    
     font-size: 15px;
}

.submit__btn {
    min-width: 380px;
    padding: 10px 30px;
    margin-top: 10px;
    background: black;
    align-items: center;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 1px;
}